body{
	background-color: #ff66ff;
    color: #42117B;
    font-family: "Candara", sans-serif;
    text-align: center;
}

header {    
    font-weight: bold;
}

main {
    width: 80%; /* ou toute autre largeur souhaitée */
    margin: auto;
}



::-webkit-scrollbar {
    width: 20px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
    background: #42117B; /* Couleur de fond de la piste de défilement */
}

::-webkit-scrollbar-thumb {
    background: #ff66ff; /* Couleur du bouton de la barre de défilement */
}


.logo_icones {
    position: relative;
}

.lieu {
    width: 100 px;
    position: absolute;
    top: 0;
    left: 0px;
}

.label_contact {
    width: 100px;
    position: absolute;
    top: 20px;
    right: 120px;
}

.image_instagram {
    width: 30px;
    position: absolute;
    top: 0;
    right: 80px;
    transition: transform .2s;
}

.image_instagram:hover {
    transform: scale(1.2);
}

.image_youtube {
    width: 40px;
    position: absolute;
    top: 0;
    right: 35px;
    transition: transform .2s;
}

.image_youtube:hover {
    transform: scale(1.2);
}

.image_facebook {
    width: 30px;
    position: absolute;
    top: 0;
    right: 0px;
    transition: transform .2s;
}

.image_facebook:hover {
    transform: scale(1.2);
}


.image_banniere {
    display: block;
    width: 100%; /* Image occupant toute la largeur de la section banniere */
    height: auto; /* Hauteur automatique pour maintenir les proportions de l'image */
}

.bouton_sections {
    margin-top: 20px;
    font-weight: bold;
    background-color:transparent;
    border-bottom: none;
    border: 2px solid #42117B;
    color: #42117B;
    transition: all 0.2s; /* Ajoute une transition fluide */
    font-size: 16px; /* Taille initiale du texte */
    padding: 10px 40px; /* Rembourrage initial du bouton */
}

.bouton_sections:active,
.bouton_sections:focus {
    transform: scale(1.1); /* Augmente l'échelle du bouton */
}


.separator {
    border: 0; /* Supprimer le bord par défaut de la règle */
    height: 2px; /* Hauteur de la ligne horizontale */
    background-color: #42117B; /* Couleur de la ligne horizontale */
    margin: 20px 0; /* Marge supérieure et inférieure pour l'espace entre les sections */
}

.aligner_liste_gauche {
    text-align: left;
}


.grille {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* Espacement entre les éléments */
}

.grille_objet {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.legende_gauche {
    width: 100px;
}

/* Styles spécifiques pour chaque élément */
.haut_gauche {
    grid-column: 1;
    grid-row: 1;
    justify-content: right;
}

.haut_droit {
    grid-column: 2;
    grid-row: 1;
}

.bas_gauche {
    grid-column: 1;
    grid-row: 2;
    justify-content: right;
}

.bas_droit {
    grid-column: 2;
    grid-row: 2;
}

.image_liste_membres{
	width: 200px;
    height: 300px;
    padding: 10px;
}

.en_concert {
    display: flex;
    align-items: center; /* Alignement vertical */
}

.en_concert ul {
    margin-right: 20px; /* Espacement entre la liste et l'image */
}

.en_concert img {
    height: 200px;
}

.bouton_lire_photo {
    background-color: transparent;
    border: 0px;
    transition: transform 0.3s;
}

.bouton_lire_photo:hover {
    transform: scale(1.5); /* Augmente la taille de la flèche au survol */
}
